/* --------- *
 *   Intro   *
 * --------- */

.page__header--intro {
	background-image: url(../../assets/images/rental-history.jpg);
}

.faq {
	position: relative;
	max-width: 600px;
	padding: 0 1em;
	margin: 60px auto 0;
	text-align: center;
	.faq__title {
		font-weight: bold;
		width: 100%;
		font-size: 2.5em;
		text-transform: uppercase;
		margin-bottom: .5em;
	}
	.faq__question {
		display: inline-block;
		font-weight: bold;
		text-transform: uppercase;
		margin-bottom: .5em;
	}
	p {
		line-height: 1.4;
	}
	li {
		margin-bottom: 2em;
	}
}
