/* ------- *
 *   Nav   *
 * ------- */

.header {
	background: white;
	width: 100%;
	@extend %clearfix;
	position: fixed;
	top: 0;
	z-index: 999;
	border-bottom: 1px solid $secondary;
	@include bp(medium) {
		border: 0;
	}
}
.nav {
	transition: all 300ms ease out;
	-webkit-transition: all 300ms ease-out;
	width: 300px;
	transform: translate3d(-300px,0,0);
	position: fixed;
	left: 0;
	top: 0;
	bottom: 0;
	background: white;
	z-index: 99;
	padding: 4em 2em 0 3em;
	border-right: 1px solid $secondary;
	box-shadow: 0 0 0 1px rgba(0,0,0,0.1),0 2px 15px rgba(0,0,0,0.1);
	@include bp(medium) {
		width: 33%;
		transform: translate3d(0,0,0);
		box-shadow: none;
	}
 	ul {
		clear: both;
 		padding: 0;
		margin: 0 auto;
		max-width: 300px;
 	}
 	li {
 		margin: 0 0 .5em 1em;
		clear: both;
 	}
	a {
		text-decoration: none;
	}
 }

 .toggle--active .nav {
  	transform: translate3d(0,0,0);
  }

.logo {
	display: inline-block;
	margin-bottom: 2em;
	float: left;
	text-decoration: none;
	clear: both;
	color: $base;
	h1 {
		color: $base;
		line-height: 1.1;
		font-size: 1.1em;
	}
	span {
		float: left;
		font-size: 2.25em;
		margin: 0 .25em 0 0;
	}
	&:hover {
		//opacity: .5;
	}
}

.logo--mobile {
	text-decoration: none;
	float: left;
	font-weight: bold;
	color: $base;
	margin-left: 1em;
	line-height: 50px;
	@include bp(medium) {
		display: none;
	}
}

//Fancy Toggle Button
.toggle {
	display: block;
	position: absolute;
	right: 1em;
	top: 11px;
  width: 26px;
	height: 28px;
	@include bp(medium) {
		display: none;
	}
	&:hover span,
	&:hover span:before,
	&:hover span:after {
		background: lighten($base, 50%);
	}
}

.toggle span, .toggle span:before, .toggle span:after {
  cursor: pointer;
  height: 2px;
  width: 25px;
  background: $base;
  position: absolute;
  display: block;
  content: '';
}
.toggle span:before {
  top: -7px;
}
.toggle span:after {
  bottom: -7px;
}

.toggle span, .toggle span:before, .toggle span:after {
  transition: all 200ms ease-in-out;
}
.toggle--active .toggle span {
  background-color: white;
}
.toggle--active .toggle span:before, .toggle--active .toggle span:after {
  top: 0;
}
.toggle--active .toggle span:before {
  transform: rotate(45deg);
}
.toggle--active .toggle span:after {
  transform: rotate(-45deg);
}

//Nav Buttons
.btn--nav {
  color: lighten($base, 50%);
}

.btn--nav--active {
	color: $base;
	.btn--nav__lines {
		background: $base;
	}
}

.btn--nav__lines {
	content: "";
	display: block;
	background: darken($secondary, 10%);
	height: 6px;
	width: 6px;
	border-radius: 50%;
	top: 10px;
	position: relative;
	right: 1em;
	&:after {
		content: "";
		display: block;
		background: $secondary;
		height: 30px;
		width: 2px;
		position: relative;
		left: 2px;
		top: 6px;
	}
}

.btn--nav__lines--last {
	&:after {
		display: none;
	}
}



.btn--preview {
	position: relative;
	top: 1.5em;
	right: 1em;
	padding: .25em .5em;
	background: $highlight;
	color: white;
	border-radius: 2px;
	margin-right: .5em;
	.icon-preview {
		margin-right: .25em;
		position: relative;
		top: 2px;
	}
 	&:before, &:after {
		display: none;
	}
}



.btn--print {
	position: relative;
	top: 1.5em;
	right: 1em;
	padding: .25em .5em;
	background: $highlight;
	color: white;
	border-radius: 2px;
	.icon-print {
		margin-right: .25em;
		position: relative;
		top: 2px;
	}
 	&:before, &:after {
		display: none;
	}
}
