/* ------- *
 *   Nav   *
 * ------- */

.header {
	background: white;
	width: 100%;
	@extend %clearfix;
	position: fixed;
	top: 0;
	z-index: 999;
	border-bottom: 1px solid $secondary;
	@include bp(medium) {
		border: 0;
	}
}

 .nav {
 		transition: all 300ms ease out;
 		-webkit-transition: all 300ms ease-out;
		width: 300px;
		transform: translate3d(-300px,0,0);
 		position: fixed;
 		left: 0;
 		top: 0;
 		bottom: 0;
 		background: lighten($base, 5%);
 		z-index: 99;
 		padding: 4em 2em 0 3em;
	@include bp(medium) {
		width: 33%;
		transform: translate3d(0,0,0);
	}
 	ul {
 		float: left;
		clear: both;
 		padding: 0;
 	}
 	li {
 		margin-bottom: 1em;
		clear: both;
 		list-style: disc;
 	}
	a {
		text-decoration: none;
	}
 }

 .toggle--active .nav {
 	transform: translate3d(0,0,0);
 }

.toggle__close {
	color: darken($secondary,35%);
	position: absolute;
	font-size: 1.5em;
	top: .75em;
	right: .75em;
	@include bp(medium) {
		display: none;
	}
	&:hover {
		color: white;
	}
}




.logo {
	display: inline-block;
	margin-bottom: 2em;
	float: left;
	text-decoration: none;
	clear: both;
	//background: darken($base, 1%);
	//border: 2px solid darken($base, 1%);
	padding: .25em;
	h1 {
		color: white;
		//font-weight: bold;
		line-height: 1.1;
		font-size: 1.1em;
	}
	span {
		float: left;
		font-size: 2.25em;
		color: white;
		margin: 0 .25em 0 0;
	}
	&:hover {
		//opacity: .5;
	}
}

.logo--mobile {
	text-decoration: none;
	float: left;
	font-weight: bold;
	color: $base;
	margin-left: 1em;
	line-height: 50px;
	@include bp(medium) {
		display: none;
	}
}



.toggle {
	position: relative;
	float: right;
	margin-right: 1em;
	line-height: 50px;
	@include bp(medium) {
		display: none;
	}
	span {
		position: absolute;
		background: $base;
		display: block;
		transition: all 300ms ease out;
		-webkit-transition: all 300ms ease-out;
		transform-origin: 50% 50%;
		-webkit-transform-origin: 50% 50%;
		transform: rotate(0deg);
		-webkit-transform: rotate(0deg);
	}
	&:hover {
		color: gray;
		span {
			background: gray;
		}
	}
}

.horizontal {
	top: 24px;
	left: -14px;
	width: 9px;
	height: 1px
}

.vertical {
	top: 20px;
	left: -10px;
	width: 1px;
	height: 9px
}

.toggle--active .vertical{
	opacity: 0;
	height: 1px;
}



//Nav Buttons
.btn--action {
  color: darken($secondary,35%);
	position: relative;
}

.btn--action--active {
	//background: $highlight;
	color: white;
}

.no-touchevents .btn--action:hover {
	//color: $highlight;
}

.no-touchevents .btn--action--active:hover {
  //background: darken($highlight, 5%);
	//color: white;
}
