/* --------- *
 *   Page   *
 * --------- */

.page {
	background: $secondary;
	min-height: 100vh;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	margin: 0;
	@extend %clearfix;
}

.page__header {
	position: relative;
	background: darken($secondary,5%);
	background-size: cover;
	background-position: center center;
	margin: 50px auto 0;
	text-align: center;
	@include bp(medium) {
		margin-top: 0;
	}
}

.page__header--applicant {
	//background: url('/../assets/images/rental-history.jpg');
}




.page__header__container {
	padding: 2em 1em;
	margin: 0 auto;
	max-width: 500px;
	text-align: center;
}

.page__title {
	margin: 0 auto;
	width: 100%;
	text-align: center;
	z-index: 99;
	bottom: -.5em;
	font-size: 3em;
	font-weight: bold;
	line-height: 1.2;
	text-shadow: 0 1px 1px rgba(0,0,0,.1);
}

.page__subtitle {
	line-height: 1.4;
	padding-top: .5em;
	max-height: 0;
	opacity: 0;
	-webkit-transform: translateY(20px);
	transform: translateY(20px);
}

.btn--header--active .page__subtitle {
	opacity: 1;
	max-height: 100px;
	height: auto;
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

//Expanding Header Button
.btn--header {
	position: absolute;
	margin: 0 auto;
	display: inline-block;
	background: $base;
	width: 36px;
	height: 36px;
	bottom: -18px;
	margin-left: -18px;
	border-radius: 50%;
	span {
		display: block;
		width: 16px;
		height: 2px;
		background: white;
		position: relative;
		left: 10px;
		&:after {
			position: relative;
			top: -7px;
			left: 7px;
			display: block;
			background: white;
			content: "";
			width: 2px;
			height: 16px;
		}
	}
	&:hover {
		background: lighten($base, 15%);
	}
}

.btn--header--active .btn--header {
	-webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

//Link at the bottom of each page
.page__link {
	text-decoration: none;
	text-align: center;
	background: $base;
	padding: 1em;
	color: white;
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
	&:hover {
	}
}

.page__link--disabled {

}
