/* ------------- *
* react-dates  *
https://github.com/airbnb/react-dates/tree/master/css
* ------------- */


//Unused Variables

//$react-dates-color-primary-shade-1: #33dacd !default;
//$react-dates-color-primary-shade-2: #66e2da !default;
//$react-dates-color-primary-shade-3: #80e8e0 !default;
//$react-dates-color-primary-shade-4: #b2f1ec !default;
//$react-dates-color-secondary: #007a87 !default;
//$react-dates-color-border-light: #dce0e0 !default;
//$react-dates-color-border-medium: #c4c4c4 !default;

$react-dates-width-input: 100% !default;
$react-dates-width-arrow: 24px !default;
$react-dates-width-tooltip-arrow: 20px !default;
$react-dates-spacing-vertical-picker: 45px !default;
$react-dates-color-primary: $highlight !default;
$react-dates-color-white: white !default;
$react-dates-color-gray: $base !default;
$react-dates-color-gray-dark: $base !default;
$react-dates-color-gray-light: lighten($react-dates-color-gray, 5%) !default;
$react-dates-color-gray-lighter: $placeholder !default;
$react-dates-color-gray-lightest: lighten ($placeholder, 5%) !default;
$react-dates-color-highlighted: $highlight !default;
$react-dates-color-border: none !default;
$react-dates-color-placeholder-text: $placeholder !default;
$react-dates-color-text: $base !default;
$react-dates-color-text-focus: none !default;
$react-dates-color-focus: none !default;
$react-dates-z-index: 0 !default;
@import '../../../node_modules/react-dates/css/styles.scss';

//Custom styling to fit current design

.SingleDatePicker {
  margin-bottom: 2.35765%;
	@include span-columns(12);
	@include bp(medium) {
		@include span-columns(6);
	}
}

.DateInput {
  background: $secondary url('./images/calendar.svg') no-repeat 97% 0 !important;
  border-radius: 2px;
  font-size: 1em;
  padding: .5em;
}

.DateInput__input:hover {
  cursor: pointer;
}

.DateInput__display-text {
  font-weight: normal;
  padding: 0;
  margin: 0;
  line-height: normal;
  text-align: left;
}

.CalendarMonth__caption {
  font-weight: bold;
}

.DayPicker__week-header {
  top: 55px;
  ul li {
    margin: 0;
  }
}

small {
  font-size: .85em;
}
