/* ------- *
*  Home   *
* ------- */

// Buttons on Homepage
.btn--learn-more {
  background: white;
  padding: 0.25em 1em;
  border-radius: 2em;
  color: $base;
  margin-right: 1em;
  text-decoration: none;
}

.btn--learn-more:hover {
  background: rgba(355, 355, 355, 0.75);
}

.btn--get-started {
  background: $highlight;
  padding: 0.25em 1em;
  border-radius: 2em;
  color: white;
  text-decoration: none;
}

.btn--get-started:hover {
  background: rgba(222, 103, 61, 0.75);
}
