/* ------- *
*  Home   *
* ------- */

.home {
	width: 100%;
	margin: 0 auto;
	padding: 0 1em;
	height: 600px;
	height: 100vh;
	max-width: 650px;

	@include bp(medium) {
		padding: 0 2em;
		height: 600px;
		height: 100vh;
	}

	&:before {
		content: '';
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-image: url('./images/homepage.jpg');
		background-size: cover;
		background-position: center;
	}

	&:after {
		content: '';
		height: 100%;
		width: 100%;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: $base;
		opacity: .9;
	}
}

.home__text {
	z-index: 3;
	position: relative;
	top: 50%;
	transform: translateY(-50%);

	@extend %clearfix;
}

.home__text__title {
	font-size: 1.75em;
	margin: 0 0 1em 0;
	line-height: 1.15;
	color: white;
	z-index: 3;

	@extend %clearfix;

	@include bp(medium) {
		font-size: 2.25em;
	}
}

// Buttons on Homepage
.btn--learn-more {
	background: white;
	padding: .25em 1em;
	border-radius: 2em;
	color: $base;
	margin-right: 1em;
	text-decoration: none;
}

.no-touchevents .btn--learn-more:hover {
	background: rgba(355,355,355,.75);
}

.btn--get-started {
	background: $highlight;
	padding: .25em 1em;
	border-radius: 2em;
	color: white;
	text-decoration: none;
}

.no-touchevents .btn--get-started:hover {
	background: rgba(222,103,61,.75);
}
