/* ----------------- *
 *   Resume Preview  *
 * ----------------- */

.resume {
	margin: 0 auto;
	@extend %clearfix;
	text-align: left;
	display: inline-block;
	width: 100%;
	max-width: 750px;
}

.resume__container {
	position: relative;
	margin: 5em 1em 2em;
	padding: 2.5em 1em;
	background: $secondary;
	@extend %clearfix;
	@include bp(medium) {
		padding: 2.5em 4em;
		margin: 2em;
	}
}

.resume__header {
	float: left;
	width: 100%;
}

.btn--print--prview {
	background: $highlight;
	color: white;
	float: left;
	padding: .25em 1em;
	border-radius: 2em;
	margin: 0 0 2em 0;
	span {
		margin-right: .25em;
		position: relative;
		top: 2px;
	}
}


.resume a {
	color: $base;
}

.no-touchevents .resume a:hover {
	color: $highlight;
}

.resume__title {
	font-size: 2em;
	margin-bottom: 1.5em;
	text-transform: uppercase;
	font-weight: bold;
	float: left;
	clear: both;
}

.resume__section {
	@extend %clearfix;
	margin-bottom: 2em;
}

.resume__subtitle {
	font-weight: bold;
	margin-bottom: 1em;
	@include bp(medium) {
		@include span-columns(3);
		margin-bottom: 0;
	}
}

.applicant-summary, .employment-list, .rental-list, .applicant-income, .applicant-list, .incomplete-list {
	@include bp(medium) {
		@include span-columns(9);
	}
}


//Applicants
.applicant {
	line-height: 1.4;
	@include bp(medium) {
		@include span-columns(6);
		@include omega(2n);
	}
}

.applicant-list li {
	margin-bottom: 1em;
	&:last-child {
		margin-bottom: 0;
	}
	@include bp(medium) {
		margin-bottom: 0;
	}
}

.applicant-list li:nth-child(n+3)  {
	@include bp(medium) {
		margin-top: 1em;
	}
}

.applicant--name {
	font-weight: bold;
}

//summary
.applicant-summary {
	line-height: 1.4;
}

//Employment History
.employment-list {
	line-height: 1.4;
	list-style-position: inside;
	list-style-type: disc;
}

.job {
	margin-bottom: 1em;
}

.employment-list li:last-child {
	margin-bottom: 0;
}

//Rental History
.rental-list {
	line-height: 1.4;
	list-style-position: inside;
	list-style-type: disc;
}

.rental-list li:last-child {
	margin-bottom: 0;
}

.apartment {
	margin-bottom: 1em;
}

.rental-list em {
	text-decoration: underline;
}

//Income
.applicant-income {
	line-height: 1.4;
	margin-bottom: 0;
}

//Incomplete Sections

.incomplete {
	border-top: 1px dashed darken($secondary, 15%);
	background: $secondary;
	padding: 2.5em 1em;
	margin: -2em 1em 2em 1em;
	display: none;
	@include bp(medium) {
		padding: 2.5em 4em;
		margin: -2em 2em 2em 2em;
	}
}

[class^="missing--"] .incomplete {
	display: block;
}

.incomplete__subtitle {
	margin-bottom: 1em;
	font-weight: bold;
	color: darken($secondary, 25%);
	display: none;
}

[class^="missing--"] .incomplete__subtitle {
	display: inline-block;
}

.incomplete__link {
	display: none;
}

.missing--applicant .incomplete__link--applicant,
.missing--rental-history .incomplete__link--rental-history,
.missing--summary .incomplete__link--summary,
.missing--income .incomplete__link--income,
.missing--employment-history .incomplete__link--employment-history {
	display: inline-block;
}

.missing--applicant .resume__section--applicant,
.missing--rental-history .resume__section--rental-history,
.missing--summary .resume__section--summary,
.missing--income .resume__section--income,
.missing--employment-history .resume__section--employment {
	display: none;
}

.incomplete a {
	background: darken($secondary, 5%);
	color: darken($secondary, 25%) !important;
	border-radius: 2em;
	text-decoration: none;
	padding: .5em 1em;
	display: inline-block;
	float: left;
	margin: 0 .5em .5em 0;
	@include bp(medium) {
		text-align: center;
	}
}

.no-touchevents .incomplete a:hover {
	background: darken($secondary, 25%) !important;
}
.no-touchevents .incomplete a:hover {
		color: white !important;
}

.applicant.incomplete {
	margin-bottom: 0;
	width: 100%;
}
