/* --------- *
 *   Print   *
 * --------- */

@media print {
	*,
	*:before,
	*:after,
	*:first-letter,
	*:first-line {
			background: transparent !important;
			color: #000 !important;
			box-shadow: none !important;
			text-shadow: none !important;
	}
	html {
		margin: 0 !important;
	}
	body {
		margin: 0 !important;
		padding: 0 !important;
		font-size: 12pt;
	}
	.page {
		width: 100%;
		margin: 0;
	}
	.nav {
		display: none;
	}
	.resume {
		margin: 0;
	}
	.resume__container {
		margin: 0 5mm;
	}
	.resume__header {
		margin-top: 0;
	}
	.resume__title {
		margin-bottom: 7.5mm;
	}
	.resume__subtitle {
		width: 30%;
		float: left;
	}
	.applicant-summary, .employment-list, .rental-list, .applicant-income, .applicant-list {
		width: 70%;
		float: right;
	}
	.applicant {
		width: 35%;
		float: left;
		margin-right: 2.5%;
	}
	.resume__section {
		margin-bottom: 7.5mm;
	}
	.resume__section--income {
		margin-bottom: 2.5mm;
	}
	.header {
		display: none;
	}
	.incomplete {
		display: none !important;
	}
	.incomplete-list {
		display: none !important;
	}
	.btn--print--preview {
		display: none;
	}
	.resume__section--rental-history {
		margin-top: -2.5mm;
	}
	.page {
		width: 100%;
	}
}
@page {
	size: auto;
	margin: 3mm;
}
