/* ------- *
 *  Animation  *
 * ------- */

.btn--remove, .resume-form li, .nav a, .btn, .faq a, .btn--back, .resume a, .incomplete, .incomplete a {
	transition: all .15s;
}

.page__subtitle {
	transition: transform all 200ms ease-in;
	-webkit-transition: all 200ms ease-in;
}

.btn--header {
	transition: all 150ms ease-in;
	-webkit-transition: all 150ms ease-in;
}

.page__link {
	transition: all 150ms ease-in;
	-webkit-transition: all 150ms ease-in;
}















//Home Animation
.transition--enter .home {
  opacity: 0.01;
}
.transition--enter.is-active .home {
  opacity: 1;
	transition: all .4s ease-in-out;
}


//Page Animation
.transition--enter .page {
  opacity: 0.01;
}
.transition--enter.is-active .page {
  opacity: 1;
	transition: all .4s ease-in-out;
}
